/Xamarin.Forms.GoogleMaps/packages
/Xamarin.Forms.GoogleMaps/Xamarin.Forms.GoogleMaps/obj
/Xamarin.Forms.GoogleMaps/Xamarin.Forms.GoogleMaps/bin
/Xamarin.Forms.GoogleMaps/Xamarin.Forms.GoogleMaps.Android/obj
/Xamarin.Forms.GoogleMaps/Xamarin.Forms.GoogleMaps.Android/bin
/Xamarin.Forms.GoogleMaps/Xamarin.Forms.GoogleMaps.Android/Resources/Resource.designer.cs
/Xamarin.Forms.GoogleMaps/Xamarin.Forms.GoogleMaps.iOS/obj
/Xamarin.Forms.GoogleMaps/Xamarin.Forms.GoogleMaps.iOS/bin
/Xamarin.Forms.GoogleMaps/.vs
/XFGoogleMapSample/.vs
/XFGoogleMapSample/packages
/XFGoogleMapSample/Droid/obj
/XFGoogleMapSample/Droid/bin
/XFGoogleMapSample/Droid/XFGoogleMapSample.Droid.csproj.user
/XFGoogleMapSample/Droid/Resources/Resource.designer.cs
/XFGoogleMapSample/iOS/obj
/XFGoogleMapSample/iOS/bin
/XFGoogleMapSample/XFGoogleMapSample/obj
/XFGoogleMapSample/XFGoogleMapSample/bin
